<p-card>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-col-12 p-md-6">
            <div class="card">
                <div class="p-col-12 p-md-6">
                        <span style="width: 30px;">
                            <label for="lblId">ID</label>
                            <p-inputNumber [disabled]="true" id="lblId" [(ngModel)]="computadora.id"> </p-inputNumber>
                        </span>
                </div>
                
                <div class="p-field">
                    <span>
                        <label for="lblUsuario">Usuario</label>
                        <input type="text" id="lblTitulo" pInputText [(ngModel)]="computadora.usuario"> 
                    </span>
                </div>

                <div class="p-field">
                    <span>
                        <label for="lblArea">Area</label>
                        <input type="text" id="lblTitulo" pInputText [(ngModel)]="computadora.area"> 
                    </span>
                </div>

    
                <div class="p-field" style="margin-top: 10px;">
                    <button pButton pRipple type="button" (click)="isModoEdicion ? update() : add()" styleClass="p-button-success p-mr-2 p-mb-2"  label="Guardar" ></button>
                </div>
    
            </div>
        </div>
    </div>

</p-card>