#titulo{
    color: #256029;
}

.flex{
    padding-left: 500px;
}

.card{
    padding-top: 10px;
    align-content: flex-end;
}

#listado{
    text-align: center;
    width: auto;
}

#nuevo{
    width: 120px;
    color: #256029;
    background-color: #C8E6C9;
}

#delete{
    color: #c63737;
    background-color: #FFCDD2;
    ;
}

#edit{
    background-color: #bde0fe;
    color: #288ae0;
}

#status{
    text-align: center;
    width: 100px;
    padding: 5px;
}

.table-header{
    text-align: center;
} 

.btn{
    text-align: center;
}
