<div id="main">
    <div class="p-card-content">
      <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="right">
            <div>
              <h1 id="titulo">Notebook</h1>
            <button id="nuevo" pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-rounded p-button-primary" [routerLink]="['form']"></button>
            </div>
          </ng-template>
      </p-toolbar>
    </div>
  
    <p-table #dt1 [value]="notebookes" [paginator]="true" [rows]="500"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} de {totalRecords}" [globalFilterFields]="['notebookes.usuario','notebookes.area',
      'notebookes.tipo','notebookes.bp', 'notebookes.status']" responsiveLayout="scroll"
      [rowHover]="true" dataKey="id">

      <ng-template pTemplate="header" class="align-items-center">
        <tr >
          <th pSortableColumn="id" id="listado">ID<p-sortIcon field="id"></p-sortIcon></th>
          <th id="listado">Usuario</th>
          <th id="listado">Ubicacion</th>
          <th id="listado">BP</th>
          <th id="listado">Marca</th>
          <th id="listado">Procesador</th>
          <th id="listado">Estado</th>
          <th id="listado">Opciones</th>
        </tr>
      </ng-template>
    
      
      <ng-template pTemplate="body" let-notebookes>
        <tr>
          <td id="listado">{{ notebookes.id }}</td>
          <td id="listado">{{ notebookes.usuario }}</td>
          <td id="listado">{{ notebookes.ubicacion }}</td>
          <td id="listado">{{ notebookes.bp }}</td>
          <td id="listado">{{ notebookes.modelo }}</td>
          <td id="listado">{{ notebookes.procesador }}</td>
          <td  id="status">
            <div [ngStyle]="{'background-color':notebookes.status === 'Activo' ? '#C8E6C9' : '#FFCDD2', 'color': notebookes.status === 'Activo' ? '#256029' : '#c63737'}">{{ notebookes.status }}</div>
          </td>
          <td>
            <div class="btn">
              <button id="edit" pButton pRipple icon="pi pi-pencil" class="p-button-rounded mr-2 p-button-info" [routerLink]="['form', notebookes.id]" ></button>
              <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-primary p-button-rounded mr-2 p-button-info" [routerLink]="['form', notebookes.id]" ></button>  -->
              <button id="delete" pButton pRipple icon="pi pi-trash" class="p-button-rounded mr-2 p-button-danger" (click)="delete(notebookes.id)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template #skeleton>
      <app-table-skeleton
        [headers]="['ID', 'USUARIO']"
        [columnCount]="10"
      ></app-table-skeleton>
    </ng-template>

    <p-confirmDialog header="DELETE"  icon="pi pi-exclamation-triangle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>

    <p-dialog header="Error" [(visible)]="display" icon="pi pi-exclamation-triangle">
      <p>No se ha podido eliminar</p>
      <ng-template pTemplate="footer">
          <p-button icon="pi pi-check" (click)="display=false" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template>
  </p-dialog>



  </div>
  