<div class="p-fluid p-formgrid p-grid">
    <div class="p-card-content">
        <div class="p-fluid ng-star-inserted">
            <div class="p-field">
                        <label id="form">ID:</label>
                        <p-inputNumber [disabled]="true"  [(ngModel)]="monitores.id"> </p-inputNumber>
            </div>
            
            <div class="p-field">
                <span>
                    <label id="form">Usuario actual:</label>
                    <input type="text" id="lblUsuario" pInputText [(ngModel)]="monitores.usuario"> 
                </span>
            </div>

            <div class="p-field">
                <span>
                    <label id="form">Usuario anterior:</label>
                    <input type="text" id="lblUser" pInputText [(ngModel)]="monitores.userold"> 
                </span>
            </div>

            <div class="p-field">
                <span>
                    <label id="form">Ubicación:</label>
                    <input type="text" id="lblArea" pInputText [(ngModel)]="monitores.ubicacion"> 
                </span>
            </div>

            <div class="p-field">
                <span>
                    <label id="form">Modelo:</label>
                    <input type="text" id="lblModelo" pInputText [(ngModel)]="monitores.modelo"> 
                </span>
            </div>

            <div class="p-field">
                <span>
                    <label id="form">BP:</label>
                    <input type="text" id="lblBp" pInputText [(ngModel)]="monitores.bp"> 
                </span>
            </div>
          
            <div class="p-field">
                <span>
                    <label>Estado:</label>
                    <p-dropdown [options]="estados" [(ngModel)]="monitores.status" placeholder="Seleccione" optionValue="value" optionLabel="label"></p-dropdown>
                </span>
            </div>


            <div class="p-field" style="margin-top: 10px;">
                <button pButton pRipple type="button" (click)="isModoEdicion ? update() : add()" styleClass="p-button-success p-mr-2 p-mb-2" id="guardar" label="Guardar" ></button>
                <button pButton pRipple type="button" id="cancelar" routerLink="/monitor" label="Cancelar" ></button>

            </div>
        </div>
    </div>
</div>
