<div id="main">
  <div class="p-card-content">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="right">
          <div>
            <h1 id="titulo">Teléfonos</h1>
          <button id="nuevo" pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-rounded p-button-primary" [routerLink]="['form']"></button>
          </div>
        </ng-template>
    </p-toolbar>
  </div>

  <p-table #dt dataKey="id" [value]="telefonos" [paginator]="true" [rows]="100"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first} - {last} de {totalRecords}" [globalFilterFields]="['usuario', 'userold','ubicacion', 'interno',
  'bp', 'status']" responsiveLayout="scroll"
  [rowHover]="true">

  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Search..." />
        </span>
    </div>
  </ng-template>

    <ng-template pTemplate="header" class="align-items-center">
      <tr >
        <th pSortableColumn="id" id="listado">ID<p-sortIcon field="id"></p-sortIcon></th>
        <th id="listado" [ngStyle]="{'color':'#61affe'}">Usuario actual</th>
        <th id="listado" [ngStyle]="{'color':'#c63737'}">Usuario anterior</th>
        <th pSortableColumn="ubicacion" id="listado">Ubicación<p-sortIcon field="ubicacion"></p-sortIcon></th>
        <th id="listado">Interno</th>
        <th id="listado">BP</th>
        <th id="listado">Estado</th>
        <th id="listado">Opciones</th>
      </tr>
    </ng-template>
  
    
    <ng-template pTemplate="body" let-telefonos>
      <tr>
        <td id="listado">{{ telefonos.id }}</td>
        <td id="listado">{{ telefonos.usuario }}</td>
        <td id="listado">{{ telefonos.userold }}</td>
        <td id="listado">{{ telefonos.ubicacion }}</td>
        <td id="listado">{{ telefonos.interno }}</td>
        <td id="listado">{{ telefonos.bp }}</td>
        <td id="status">
        <div [ngStyle]="{'background-color':telefonos.status === 'Activo' ? '#C8E6C9' : ('Inactivo' ? '#FFCDD2' : '#FEEDAF'), 'color': telefonos.status === 'Activo' ? '#256029' : ('Inactivo' ? '#c63737' : '#8a5340')}">{{ telefonos.status }}</div>
        </td>
        <td>
          <div class="btn">
            <button id="edit" pButton pRipple icon="pi pi-pencil" class="p-button-rounded mr-2 p-button-info" [routerLink]="['form', telefonos.id]" ></button>
            <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-primary p-button-rounded mr-2 p-button-info" [routerLink]="['form', telefonos.id]" ></button>  -->
            <button *ngIf="telefonos.status === 'Activo'" id="delete" pButton pRipple icon="pi pi-trash" class="p-button-rounded mr-2 p-button-danger" (click)="delete(telefonos.id)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-confirmDialog header="DELETE"  icon="pi pi-exclamation-triangle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>

  <p-dialog header="Error" [(visible)]="display" icon="pi pi-exclamation-triangle">
    <p>No se ha podido eliminar</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="display=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>



</div>
