.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
#tableResults{
    display: flex;
    position: fixed;
    z-index: 10000;
    margin-top: 42px;
}
#itemTarget{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    width: 210px;
    height: 40px;
    background-color: rgb(248, 197, 28);
}
#inputButton input{
    width: 100%;
}
#inputButton button{
    background-color: transparent;
    border-color: black;
    margin-left: 3px;
    margin-right: 3px;
}
#divMinMax{
    padding: 5px;
    align-items: flex-end;
}
#divMinMax input{
    width: 80px;
    text-align: center;
}
#divFromTo{
    padding: 5px;
    align-items: flex-end;
}
#divFromTo input{
    width: 160px;
    text-align: center;
}
#divSelects{
    padding:5px;
    align-items: flex-end;
}
#selects select{
    width: 170px;
    height: 40px;
    text-align: center;
    border-color: rgba(119, 119, 119, 0.397);
}
#btnSearch{
    margin-top: 10px;
}
#btnSearch button{
    margin-top: 20px;
    margin-left: auto;
}
#btnLimpiar{
    margin-bottom: 10px;
}
#btnLimpiar button{
    font-size: 12px;
    width: 90px;
    height: 25px;
    background-color: transparent;
    border-color: black;
    margin-left: auto;
}
label{
    font-weight: 450;
    font-size: 18px;
    padding: 10px;
}