.p-fluid {
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(56, 44, 44, 0.14);
}

.card{
    margin-top: 15px;
}

.p-field{
    padding-top: 20px;
    margin: auto;
    width: 500px;
}

.p-col-12{
    margin-top: 15px;
    margin: auto;
    width: 500px;

}

#guardar{
    color: #256029;
    background-color: #C8E6C9;
}

#cancelar{
    margin-top: 25px;
    margin-block-end: 25px;
    color: #c63737;
    background-color: #FFCDD2;
}
