<div class="p-fluid p-formgrid p-grid">
    <div class="p-card-content">
        <div class="p-fluid ng-star-inserted">
            <div class="p-field">
                        <label id="form">ID:</label>
                        <p-inputNumber [disabled]="true"  [(ngModel)]="telefonos.id"> </p-inputNumber>
            </div>
            
            <div class="p-field">
                <span>
                    <label id="form">Usuario actual:</label>
                    <input type="text" id="lblUsuario" pInputText [(ngModel)]="telefonos.usuario"> 
                </span>
            </div>

            <div class="p-field">
                <span>
                    <label id="form">Usuario anterior:</label>
                    <input type="text" id="lblUser" pInputText [(ngModel)]="telefonos.userold"> 
                </span>
            </div>

            <div class="p-field">
                <span>
                    <label id="form">Ubicación:</label>
                    <input type="text" id="lblArea" pInputText [(ngModel)]="telefonos.ubicacion"> 
                </span>
            </div>

            <div class="p-field">
                <span>
                    <label id="form">Interno:</label>
                    <input type="text" id="lblBp" pInputText [(ngModel)]="telefonos.interno"> 
                </span>
            </div>

            <div class="p-field">
                <span>
                    <label id="form">BP:</label>
                    <input type="text" id="lblBp" pInputText [(ngModel)]="telefonos.bp"> 
                </span>
            </div>

            <div class="p-field">
                <span>
                    <label>Estado:</label>
                    <p-dropdown [options]="estados" [(ngModel)]="telefonos.status" placeholder="Seleccione" optionValue="value" optionLabel="label"></p-dropdown>
                </span>
            </div>

            <div class="p-field">
                <span>
                    <label>Responsabilidad:</label>
                    <p-dropdown [options]="responsabilidades" [(ngModel)]="telefonos.responsabilidad" placeholder="Seleccione" optionValue="value" optionLabel="label"></p-dropdown>
                </span>
            </div>

            <div class="p-field" style="margin-top: 10px;">
                <button pButton pRipple type="button" (click)="isModoEdicion ? update() : add()" styleClass="p-button-success p-mr-2 p-mb-2" id="guardar" label="Guardar" ></button>
                <button pButton pRipple type="button" id="cancelar" routerLink="/telefono" label="Cancelar" ></button>

            </div>
        </div>
    </div>
</div>
