<div id="main" class="grid p-input-filled">
  <div class="col">
    <div id="card" class="grid justify-content-center ml-2">
      <button
        pButton
        pRipple
        icon="pi pi-arrow-left"
        label="Volver"
        [routerLink]="['/depositos']"
      ></button>
      <button
        pButton
        pRipple id="guardar"
        class="p-button-info ml-2"
        icon="pi pi-save"
        label="Guardar"
        [disabled]="miFormulario.pristine"
        (click)="handleSubmit()"
      ></button>
    </div>
    <div class="grid justify-content-center">
      <form [formGroup]="miFormulario">
        <div class="mt-5">
          <span
            [ngClass]="{ 'p-input-icon-right': loading }"
            class="p-float-label"
          >
            <input
              type="text"
              pInputText
              [disabled]="true"
              [value]="depositoId"
            />
            <i *ngIf="loading" class="pi pi-spin pi-spinner"></i>
            <label>ID</label>
          </span>
        </div>
        <div class="mt-3">
          <span
            [ngClass]="{ 'p-input-icon-right': loading }"
            class="p-float-label"
          >
            <input formControlName="nombre" type="text" pInputText />
            <label>Nombre</label>
            <i *ngIf="loading" class="pi pi-spin pi-spinner"></i>
            <small *ngIf="campoInvalido('nombre')" class="p-error block"
              >Requerido: máximo 50 caracteres</small
            >
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
