#panelExterno{
    width: 100%;
    height: 100%;
    margin: auto 30em;
    box-shadow: 0px 1px 1px 1px rgba(146, 102, 102, 0.14);
}

#panelInterno{
    margin-left: 18%;
    margin-right: 15%;
}

.p-card-content {
    padding-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.p-inputgroup {
    width: 76%;
    padding: 10px 20px;
    margin-left: 46px;
    margin-bottom: 27px;
}

.p-card-footer{
    width: 180px;
    margin-left: 114px;
}

#divBtnCambiar{
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    justify-content: flex-end;
}

#btnCambiar{
   font-family: Arial, Helvetica, sans-serif;
}

button {
    border-radius: 5em;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 27px;
    background: royalblue;
}
