<div id="panelExterno">
    <div id="panelInterno">
        <hr>
        <div class="column">
            <label>Password Actual</label>
            <input id="password" type="password" pInputText tooltipEvent="focus" formControlName="password">
       </div> 
       <div class="column">
            <label>Password Nuevo</label>
            <input id="new_password" type="password" pInputText tooltipEvent="focus" formControlName="new_password">
        </div>
        <div id="divBtnCambiar">
            <button id="btnCambiar" type="submit" label="Cambiar"></button>
        </div>
        <hr>
    </div>
</div>
