<div id="panelExterno">
    <!-- <div class="card text-center">
        <h3>Cambiar Contraseña</h3>
    </div> -->
    <form [formGroup]="formCambiar" (ngSubmit)="enviarRegistro($event)">
        <div id="panelInterno">
            <div class="p-card-content">
                <div class="p-fluid ng-star-inserted">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                            <input id="password" type="password" placeholder="Contraseña actual" pInputText [pTooltip]="formError.password" tooltipEvent="focus" formControlName="password"
                            required="" class="p-inputtext p-component p-element ng-pristine ng-invalid ng-touched">
                        </div>

                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                            <input id="new_password" type="password" placeholder="Contraseña nueva" pInputText [pTooltip]="formError.new_password" tooltipEvent="focus" formControlName="new_password"
                            required="" class="p-inputtext p-component p-element ng-pristine ng-invalid ng-touched">
                        </div>

                        <div class="p-card-footer">
                            <button pButton id="btnCambiar" type="submit" label="Cambiar" class="p-button-primary"></button>
                        </div>
                </div>
            </div>
        </div>
    </form>
</div>
