<div id="main">
    <div class="p-card-content">
      <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="right">
            <div>
            <button id="nuevo" pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-rounded p-button-primary" [routerLink]="['form']"></button>
            </div>
          </ng-template>
      </p-toolbar>
    </div>
  
    <p-table #dt1 [value]="computadoras" [paginator]="true" [rows]="500"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} de {totalRecords}" [globalFilterFields]="['computadoras.usuario','computadoras.area',
      'computadoras.tipo','computadoras.bp', 'computadoras.status']" responsiveLayout="scroll"
      [rowHover]="true" dataKey="id">

      <!-- <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target, 'contains')" placeholder="Search..." />
                </span>
        </div>
      </ng-template> -->

      <ng-template pTemplate="header" class="align-items-center">
        <tr >
          <th pSortableColumn="id" id="listado">ID<p-sortIcon field="id"></p-sortIcon></th>
          <th id="listado">Usuario</th>
          <th id="listado">Area</th>
          <th id="listado">Tipo</th>
          <th id="listado">BP</th>
          <th id="listado">Marca</th>
          <th id="listado">Procesador</th>
          <th id="listado">Estado</th>
          <th id="listado">Opciones</th>
        </tr>
      </ng-template>
    
      
      <ng-template pTemplate="body" let-computadoras>
        <tr>
          <td id="listado">{{ computadoras.id }}</td>
          <td id="listado">{{ computadoras.usuario }}</td>
          <td id="listado">{{ computadoras.area }}</td>
          <td id="listado">{{ computadoras.tipo }}</td>
          <td id="listado">{{ computadoras.bp }}</td>
          <td id="listado">{{ computadoras.modelo }}</td>
          <td id="listado">{{ computadoras.procesador }}</td>
          <td id="listado">{{ computadoras.status }}</td>
          <td>
            <div class="btn">
              <button id="edit" pButton pRipple icon="pi pi-pencil" class="p-button-rounded mr-2 p-button-info" [routerLink]="['form', computadoras.id]" ></button>
              <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-primary p-button-rounded mr-2 p-button-info" [routerLink]="['form', computadoras.id]" ></button>  -->
              <button id="delete" pButton pRipple icon="pi pi-trash" class="p-button-rounded mr-2 p-button-danger" (click)="delete(computadoras.id)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template #skeleton>
      <app-table-skeleton
        [headers]="['ID', 'USUARIO']"
        [columnCount]="10"
      ></app-table-skeleton>
    </ng-template>

    <p-confirmDialog header="DELETE"  icon="pi pi-exclamation-triangle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>

    <p-dialog header="Error" [(visible)]="display" icon="pi pi-exclamation-triangle">
      <p>No se ha podido eliminar</p>
      <ng-template pTemplate="footer">
          <p-button icon="pi pi-check" (click)="display=false" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template>
  </p-dialog>



  </div>
  