<div id="main">
    <div class="card">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="right">
          <label id="listado">Listado de computadoras</label>
          <button id="nuevo" pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-rounded p-button-primary" [routerLink]="['form']"></button>
        </ng-template>
      </p-toolbar>
    </div>
  
    <p-table  [value]="computadoras" [paginator]="true" [rows]="30"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} de {totalRecords}">

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="usuario">
            Usuario 
          </th>

          <th pSortableColumn="area">
            Area 
          </th>

          <th pSortableColumn="tipo">
            Tipo 
          </th>

          <th pSortableColumn="modelo">
            Modelo
          </th>

          <th pSortableColumn="procesador">
            Procesador 
          </th>

          <th pSortableColumn="status">
            Estado 
          </th>

          <th pSortableColumn="opciones">
            Opciones 
          </th>

        </tr>
      </ng-template>
      
      <ng-template pTemplate="body" let-computadoras>
        <tr>
          <td>{{ computadoras.id }}</td>
          <td>{{ computadoras.usuario }}</td>
          <td>{{ computadoras.area }}</td>
          <td>{{ computadoras.tipo }}</td>
          <td>{{ computadoras.modelo }}</td>
          <td>{{ computadoras.procesador }}</td>
          <td>
            <div id="status">{{ computadoras.status }}</div>
          </td>
          <td>
            <div class="btn">
              <button id="edit" pButton pRipple icon="pi pi-pencil" class="p-button-rounded mr-2 p-button-info" [routerLink]="['form', computadoras.id]" ></button>
              <button id="delete" pButton pRipple icon="pi pi-trash" class="p-button-rounded mr-2 p-button-danger" (click)="delete(computadoras.id)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template #skeleton>
      <app-table-skeleton
        [headers]="['ID', 'USUARIO']"
        [columnCount]="10"
      ></app-table-skeleton>
    </ng-template>

    <p-confirmDialog header="DELETE"  icon="pi pi-exclamation-triangle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>

  </div>
  