<div id="main">
    <div class="p-card-content">
      <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="right">
            <div>
              <h1 id="titulo">Teclados</h1>
            <button id="nuevo" pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-rounded p-button-primary" [routerLink]="['form']"></button>
            </div>
          </ng-template>
      </p-toolbar>
    </div>
  
    <p-table #dt1 [value]="teclados" [paginator]="true" [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} de {totalRecords}" [globalFilterFields]="['teclados.usuario','teclados.ubicacion',
      'teclados.tipo','teclados.bp', 'teclados.status']" responsiveLayout="scroll"
      [rowHover]="true" dataKey="id">

      <ng-template pTemplate="header" class="align-items-center">
        <tr >
          <th pSortableColumn="id" id="listado">ID<p-sortIcon field="id"></p-sortIcon></th>
          <th id="listado" [ngStyle]="{'color':'#61affe'}">Usuario actual</th>
          <th id="listado" [ngStyle]="{'color':'#c63737'}">Usuario anterior</th>          
          <th id="listado">Ubicación</th>
          <th id="listado">Modelo</th>
          <th id="listado">BP</th>
          <th id="listado">Estado</th>
          <th id="listado">Opciones</th>
        </tr>
      </ng-template>
    
      
      <ng-template pTemplate="body" let-teclados>
        <tr>
          <td id="listado">{{ teclados.id }}</td>
          <td id="listado">{{ teclados.usuario }}</td>
          <td id="listado">{{ teclados.userold }}</td>
          <td id="listado">{{ teclados.ubicacion }}</td>
          <td id="listado">{{ teclados.modelo }}</td>
          <td id="listado">{{ teclados.bp }}</td>
          <td id="status">
            <div [ngStyle]="{'background-color':teclados.status === 'Activo' ? '#C8E6C9' : '#FFCDD2', 'color': teclados.status === 'Activo' ? '#256029' : '#c63737'}">{{ teclados.status }}</div>
          </td>
          <td>
            <div class="btn">
              <button id="edit" pButton pRipple icon="pi pi-pencil" class="p-button-rounded mr-2 p-button-info" [routerLink]="['form', teclados.id]" ></button>
              <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-primary p-button-rounded mr-2 p-button-info" [routerLink]="['form', teclados.id]" ></button>  -->
              <button *ngIf="teclados.status === 'Activo'" id="delete" pButton pRipple icon="pi pi-trash" class="p-button-rounded mr-2 p-button-danger" (click)="delete(teclados.id)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template #skeleton>
      <app-table-skeleton
        [headers]="['ID', 'USUARIO']"
        [columnCount]="10"
      ></app-table-skeleton>
    </ng-template>

    <p-confirmDialog header="DELETE"  icon="pi pi-exclamation-triangle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"></p-confirmDialog>

    <p-dialog header="Error" [(visible)]="display" icon="pi pi-exclamation-triangle">
      <p>No se ha podido eliminar</p>
      <ng-template pTemplate="footer">
          <p-button icon="pi pi-check" (click)="display=false" label="Ok" styleClass="p-button-text"></p-button>
      </ng-template>
  </p-dialog>



  </div>
  