<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
    <button
      pButton
      label="Nuevo"
      icon="pi pi-plus"
      class="p-button-success"
      [routerLink]="['form']"
    ></button>
  </ng-template>
</p-toolbar>
<p-table
  styleClass="p-datatable-striped"
  [value]="depositos"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="nombre">
        Nombre <p-sortIcon field="nombre"></p-sortIcon>
      </th>
      <th>&nbsp;</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-deposito>
    <tr>
      <td>{{ deposito.id }}</td>
      <td>{{ deposito.nombre }}</td>
      <td>
        <button
          type="button"
          [routerLink]="['form', deposito.id]"
          class="p-button-warning mr-2"
          pButton
          icon="pi pi-pencil"
        ></button>
        <button
          type="button"
          pButton
          class="p-button-danger"
          icon="pi pi-trash"
          (click)="deleteRow(deposito.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog
  header="Sistema"
  icon="pi pi-exclamation-triangle"
  message="¿Seguro que desea borrar el registro?"
></p-confirmDialog>
